.divcarrousel {
    position: relative;
}

.imgleft {
    position: absolute;
    left: 0px;
}

.imgright {
    position: absolute;
    top: 0px;
    right: 100px;
}

.counter {
    position: absolute;
    bottom: 0px;
    left: 100px;
}