header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    height: 68px;
    margin: 45px auto 50px auto;
    & img {
        height: 68px;
        width: 210px;
    }
}

.linkpropos {
    margin-left: 57px;
}